p{
    text-align:Center;
    color:#c7b7b7;
    font-weight:700;
}
h2 {
    color: orange;
    font-weight:700;
    font-size:25px;
}
.main-header{
    color:rgb(255, 153, 0);
    font-size:75px;
    font-weight:700;
    text-align:center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.picture {
    display:block;
    margin-left:auto;
    margin-right:auto;
    height:350px;
    width:350px;
}
.recipe-list{
    text-align:center;
    list-style:none;
}
.description{
    color:#c7b7b7;
    font-size:30px;
    font-weight:700;
    text-align:center;
}
.listing{
    color:peru;
}
